@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Serif JP', serif;
    font-size:18px;
    max-width: 990px;
    margin: 0 auto;
    float:none;
    height: auto;

}
#background-top{
    background-image: url(img/background-top.png);
    max-width: 990px; min-width: 990px;
    max-height: 4000px; min-height: 4000px;
    background-repeat: no-repeat;
}
.banner-top img{
    background-position: center;
    padding: 100px 80px 100px 70px;
    margin-top: 90px;
    margin-bottom: 60px;
}
.banner-top{
    background-image: url(img/banner1.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
}
.banner-top-img-aki{
    padding: 100px;
}
.menu{
    width: 990px;
    display: flex;
    justify-content:space-around;
    padding-left: 40px;
    padding-right: 42px;
    margin-top: -50px;

}

.kare1 img{
    max-width: 250px;
    width:315px;
    margin-top: 20px;
}
.ramen1 img{
    max-width: 250px;
    width:315px;
    margin-top: 20px;
}
.hatsumabusi1 img{
    max-width: 270px;
    width: 315px;
    margin-top: 15px;
    margin-left: -50px;

}
#block-menu1{
    background-image: url(img/block2.png);
    background-size: cover;
    max-width: 990px;
    height: 820px;
    margin: auto;
    margin-top: -290px;
}
#block-menu2{
    background-image: url(img/block3.png);
    background-size: cover;
    max-width: 990px;
    height: 800px;
    margin: auto;
    margin-top: -30px;
} 
#block-menu3{
    background-image: url(img/block4.png);
    background-size: cover;
    max-width: 990px;
    height: 890px;
    margin: auto;
    margin-top: -110px;
}

.button-grup {
    background-image: url(/img/block1.png);
    display: flex;
    justify-content: space-around;
    max-width: 960px;
    height: 880px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -250px;
    padding: 400px;
    margin-left: 15px;


}
.bottom a{
    position: center;
    margin: 10px 20px;
}

.kare1 img {
    width: 250px;
    margin-top: -60px;
    margin-left: -25px;
}
.ramen1 img{
    width: 240px;
    margin-top: -60px;
    margin-left: -20px;
}
.hatsumabusi1 img{
    width: 250px;
    margin-top: -40px;
    margin-left: -20px;
}
.tulisan1 img{
    width: 240px;
    margin-top: 30px;
    margin-left: 390px;
}
.kare2 img{
    width: 240px;
    margin-top: 180px;
    margin-left: 55px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.kare2 img:hover, .kare2 img:focus, .kare2 img:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
}

.kare2:hover{
    transform: scale(1.1);
}
.tulisan2 img{
    width: 290px;
    margin-top: 35px;
    margin-left: 350px;
}
.ramen2 img{
    width: 240px;
    margin-top: 190px;
    margin-left: 80px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.ramen2 img:hover, .ramen2 img:focus, .ramen2 img:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
}

.ramen2:hover{
    transform: scale(1.1);
}
.tulisan3 img{
    width: 240px;
    margin-top: 60px;
    margin-left: 400px;
}
.hatsubusi2 img{
    width: 240px;
    margin-top: 250px;
    margin-left: 80px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hatsubusi2 img:hover, .hatsubusi2 img:focus, .hatsubusi2 img:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
    position:center;
} 
.hatsubusi2:hover{
    transform: scale(1.1);
}
.deskripsi1{
    margin-top: -240px;
    margin-left: 30px;
}
.deskripsi1 p{
    font-family: 'Noto Serif JP', serif;
    font-size: 24px;
    margin-left: 330px;
    margin-top: 5px;
}
.deskripsi2{
    margin-top: -240px;
    margin-left: 30px;
}
.deskripsi2 p{
    font-family: 'Noto Serif JP', serif;
    font-size: 24px;
    margin-left: 330px;
    margin-top: 5px;
}
.deskripsi3{
    margin-top: -200px;
    margin-left: 40px;
}
.deskripsi3 p{
    font-family: 'Noto Serif JP', serif;
    font-size: 24px;
    margin-left: 330px;
    margin-top: 5px;
}
#banner-bwh{
    min-height: 547px;
    position: relative;
    align-items: center;
    justify-content: end;
}
.kotak-putih{
    max-width: 990px;
    display: flex;
    justify-content: center;
    margin-top: -115px;
}
.deskripsi-bwh{
    font-family: 'Noto Serif JP', serif;
    font-size: 70px;
    margin: 40px;
    padding-left: 40px;
    margin-top: 15px;
    margin-left: 60px;
    color: #bc361c;
}
.deskripsi-bwh2{
    font-family: 'Noto Serif JP', serif;
    font-size: 40px;
    margin: 40px;
    padding-left: 40px;
    margin-top: 10px;
    margin-left: -30px;
    color: #bc361c;

}
.bottom1{
    margin-right: 10px;
    margin-left: 10px;
}
.bottom2{
    margin-right: 10px;
}
.bottom3{
    margin-right: 10px;
}
.daun img{
    max-width: 350px;
    margin-top: -200px;
}