@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Serif JP', serif;
    font-size:18px;
    max-width: 990px;
    margin: 0 auto;
    float:none;
    height: auto;

}
#background-top{
    background-image: url(img/background-top.png);
    max-width: 990px; min-width: 990px;
    max-height: 4000px; min-height: 4000px;
    background-repeat: no-repeat;
}
.banner-top img{
    background-position: center;
    padding: 100px 80px 100px 70px;
    margin-top: 90px;
    margin-bottom: 60px;
}
.banner-top{
    background-image: url(img/banner-top.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
}
.banner-top-img-aki{
    padding: 100px;
}
.menu{
    width: 990px;
    display: flex;
    justify-content:space-around;
    padding-left: 40px;
    padding-right: 42px;
}

.kare img{
    max-width: 250px;
    margin-bottom :8px;
}
.ramen1 img{
    max-width: 250px;
    width:315px;
}
.hatsumabusi1 img{
    max-width: 270px;
    width: 315px;
    margin-top: 20px;

}
.bottom img{
    padding:11px;
    margin-left: 20px;
    margin-bottom:10px;
}
#block-menu1{
    background-image: url(img/block2.png);
    background-size: cover;
    max-width: 990px;
    height: 820px;
    margin: auto;
    margin-top: 5px;
}
#block-menu2{
    background-image: url(img/block3.png);
    background-size: cover;
    max-width: 990px;
    height: 920px;
    margin: auto;
    margin-top: -15px;
} 
#block-menu3{
    background-image: url(img/block4.png);
    background-size: cover;
    max-width: 990px;
    height: 865px;
    margin: auto;
    margin-top: -100px;
}
.button-grup {
    display: flex;
    font-size: 18px;
    font-family: 'Noto Serif JP', serif;
    justify-content: space-around;
    width: 90%;
    margin:0;
    width: 20px 20px;
}
.button-grup a {
    color: #fff;
    display: flex;
    padding: 20px;
}
.bottom1{
    font-size: 18px;
    background-image: linear-gradient(to top, #d7622e, #f9d900);
    text-decoration: none;
    border-radius: 60px;
    height:70px;
}
.bottom2{
    font-size: 18px;
    background-image: linear-gradient(to top, #d7622e, #f9d900);
    text-decoration: none;
    border-radius: 60px;
}
.bottom3{
    font-size: 18px;
    background-image: linear-gradient(to top, #d7622e, #f9d900);
    text-decoration: none;
    border-radius: 60px;
}
.button-grup{
    background-image: url(img/block1.png);
    height: auto;
    background-repeat: no-repeat;
    padding: 140px 15px;
    margin-left: 50px;
}
.kare1 img {
    width: 250px;
    margin-top: 10px;
    margin-left: 55px;
    justify-content: space-between;
}
.t-ramen img{
    width: 240px;
    margin-top: 270px;
    margin-left: 70px;
}
.hatsubusi img{
    width: 250px;
    margin-top: 335px;
    margin-left: 75px;
}
.tulisan1 img{
    width: 240px;
    margin-top: 30px;
    margin-left: 400px;
}
.kare2 img{
    width: 240px;
    margin-top: 210px;
    margin-left: 50px;
}
.tulisan2 img{
    width: 240px;
    margin-top: 30px;
    margin-left: 400px;
}
.ramen2 img{
    width: 240px;
    margin-top: 210px;
    margin-left: 66px;
}
.tulisan3 img{
    width: 240px;
    margin-top: 55px;
    margin-left: 400px;
}
.hatsubusi2 img{
    width: 240px;
    margin-top: 250px;
    margin-left: 80px;
}
.deskripsi1 p{
    font-family: 'Noto Serif JP', serif;
    font-size: 24px;
    margin-top: -450px;
    margin-left: 90px;
    padding: 200px 250px 200px 300px;
}